

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;

  $background-color: #fff;


  input[type=text] {
    background-color: $background-color;
    width: 100%;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;

    &:focus {
      border: 2px solid #0097cf;
    }
  }

  .autocomplete-items {
    box-sizing: border-box;
    background-color: #FFEFE5;
    font-weight: normal;
    color: #3399FF;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 200px;
    font-size: 11px;
    overflow: auto;

    z-index: 99;
    // position the autocomplete items to be the same width as the container
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    div {
      padding: 5px;
      cursor: pointer;

      box-sizing: border-box;
      border-bottom: 1px dotted #999;
      margin: 0;

      &:hover {
        background-color: #e9e9e9;
        color: #fff;
        background-color: #0097cf;
      }
    }

    // when navigating through the items using the arrow keys
    .autocomplete-active {
      color: #fff;
      background-color: #FFCC99;
    }
  }
}
