/**/node_modules
/**/build
/**/coverage
/**/doc

/**/npm-debug.log*
/**/yarn-debug.log*
/**/yarn-error.log*
/**/lerna-debug.log*

#
.DS_Store

# the content of the src folder is copied in the lib folder
packages/*/lib

# The npmrc file is created via the CI and it contains the token
.npmrc
