@import './text';

$control-button-background-color: #eaeaeb;
$control-button-border: 1px solid #919191;
$control-button-color: #545454;

$control-separator-border-top: 1px solid white;
$control-separator-border-bottom: 1px solid #d2d2d3;

%control-base {
  @extend %text-base;
  color: $control-button-color;
}
%control-base-bordered {
  @extend %control-base;
  border: $control-button-border;
  border-radius: 2px;
}

%control-button {
  @extend %control-base-bordered;

  background-color: $control-button-background-color;
}

%control-button-group {
  @extend %control-button;

  box-sizing: border-box;

  &~& {
    border-left: $control-separator-border-top;
  }
}


%control-panel {
  @extend %control-base;
  box-sizing: border-box;
  font-family: Arial;
  overflow: auto;
}

%control-panel-bordered {
  @extend %control-panel;
  @extend %control-base-bordered;
}
