// Begin: popup template xx
div(id="webgis4uPopup",class="webgis4u-ol-popup")
  a(href="#",class="webgis4u-ol-popup-closer") ✖
  div(class="webgis4u-popup-content")
    // Begin: popup content
    if popupContent
      span #{popupContent}
    // End: popup content
// End: popup template
