@import '../../common';

.#{$prefix}-toolswitcher-sliders {
  $background-color-active: #fafafa;

  z-index: 1002;
  position: absolute;
  width:188px;
  top:20px;
  right:20px;

  button {
    @extend %control-button-group;

    background: {
      image: url("./toolswitcher-button.png");
      repeat: no-repeat;
      position: right top;
    };

    position:absolute;
    left:0;
    top:0;

    font: Arial, sans-serif;
    width:94px;
    height: 25px;
    padding: 3px 6px;
    text-align: left;

    ~button {
      left:94px;
    }
  }

  .active {
    background-color: $background-color-active;
    border-bottom: 0;
  }
}

.#{$prefix}-toolswitcher-content {
  @extend %control-panel-bordered;

  $background-color-active: #fafafa;
  border-top: 0;
  background: $background-color-active;

  position: absolute;
  z-index: 1003;
  top:45px;
  right:20px;
  width:188px;

  .#{$prefix}-toolswitcher-close {
    box-sizing: border-box;
    background: url("./btn_ts_close.png") no-repeat scroll center center transparent;
    background-color:  $control-button-background-color;
    border-top: $control-separator-border-top;

    float: left;
    height: 20px;
    width: 100%;
    cursor: pointer;
    display: none;
  }
  &[data-expanded="true"] {
    .webgis4u-toolswitcher-close {
      display: block;
    }
  }
  &[data-expanded="false"] {
  }

  [data-id] {
    display: none;
    &.active {
      display: block;
    }
  }

  ul {
    list-style: none;
    padding:0;
    margin:0;
    background-color: $background-color-active;
    border-bottom: $control-separator-border-bottom;

    ~ul {
      background-color: $control-button-background-color;
      border-top: $control-separator-border-top;
    }

    li { padding: 3px 3px; }
  }

  .#{$prefix}-ts-togglebutton {
    input {
      display:none;

      + label {
        display:inline-block;
        height:23px;
        vertical-align:middle;
        background:url("./ts-toggle-default.png") left top no-repeat;
        cursor:pointer;
        text-indent: 40px;
      }

      &:hover + label {
        background:url("./ts-toggle-hover.png") left top no-repeat;
      }

      &:checked + label  {
        background:url("./ts-toggle-active.png") left top no-repeat;
      }
    }
  }
}




/* This is the propper way to add toogle button images */
// #webgis4uMeasureDistance  + label  {
//   background:url("./src/main/images/ts-toggle-distanceCalculation-default.png") left top no-repeat;
// }
// #webgis4uMeasureDistance:checked + label  {
//   background:url("./src/main/images/ts-toggle-distanceCalculation-active.png") left top no-repeat;
// }
// #webgis4uMeasureArea  + label  {
//   background:url("./src/main/images/ts-toggle-areaCalculation-default.png") left top no-repeat;
// }
// #webgis4uMeasureArea:checked + label  {
//   background:url("./src/main/images/ts-toggle-areaCalculation-active.png") left top no-repeat;
// }

// #webgis4uAddPoint  + label  {
//   background:url("./src/main/images/ts-toggle-addPoint-default.png") left top no-repeat;
// }
// #webgis4uAddPoint:checked + label  {
//   background:url("./src/main/images/ts-toggle-addPoint-active.png") left top no-repeat;
// }
// #webgis4uAddPolygon + label    {
//   background:url("./src/main/images/ts-toggle-addPolygon-default.png") left top no-repeat;
// }
// #webgis4uAddPolygon:checked + label  {
//   background:url("./src/main/images/ts-toggle-addPolygon-active.png") left top no-repeat;
// }
