// Prefix for controls
$controlPrefix: "webgis4u-control";

/**
 * Mixin used for animation
 */
@mixin animate($property, $duration: 200ms, $easing: ease) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $easing;
}
