@import '../../common';

.#{$prefix}-info-panel {
  $width: 231px;
  $borderRight: 1px solid #D5D5D5;
  $item-border-bottom: 1px solid #d2d2d3;

  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;


  // TODO: Animate
  // @include animate('opacity, width');
  width: $width;
  opacity: 1;
  @include styleHidden() {
    opacity: 0;
    width: 0px;

    ~ #{$map-selector} {
      margin-left: 0px;
    }
  }
  @include styleVisible() {
    opacity: 1;
    width: $width;

    ~ #{$map-selector} {
      margin-left: 231px;
    }

    &-toggle {
      .#{$prefix}-control-info {
        background-image: url("./info_panel_hide.png");
        &:hover {
            background-image: url("./info_panel_hide_hover.png");
        }
      }
    }
  }

  > div {
    border-right: $borderRight;
    box-sizing: border-box;
  }

  &-toggle {
    height: 42px;
    flex-grow: 0;

    background-color: $control-button-background-color;
    border-bottom: $item-border-bottom;

    a {
      position: absolute;
      top:9px;
      right:9px;
      height: 25px;
      width: 30px;
    }

    .#{$prefix}-control-info {
      display: block;
      background: url("./info_panel_show.png");
      &:hover {
        background: url("./info_panel_show_hover.png");
      }
    }
  }

  &-content {
    @extend %control-panel;
    background-color: $control-button-background-color;
    overflow-x: hidden;

    flex-grow: 1;

    .webgis4u-info-panel-header {
      border-top: 1px solid #ffffff;
      font-size: 12px;
      padding: 3px 10px;
    }
    .webgis4u-info-panel-legend {
      border-bottom: $item-border-bottom;
    }
    .webgis4u-info-panel-footer {
      border-top: 1px solid #ffffff;
      font-size: 10px;
      padding: 10px;
    }
  }
}
