@import './common';

.#{$prefix}-linkpanel {
  border:0;
  position: absolute;
  bottom: 60px;
  right: 20px;
  height: 25px;
  z-index: 1001;

  a {
    @extend %control-button-group;

    top: 0;
    bottom:0;
    padding: 6px;
    text-decoration:none;

    &:hover {
      background-color: #d6d6d6;
    }
  }
}
